/* ViewProfileDetails Start */
.ViewProfileDetails .Profile_Editable{width: 68%; margin-top: 50px;}
.TotalCount{align-items: center;}
.TotalCount .Heading2{width: 80%;}
.TotalCount .Heading3{width: 20%; text-align: right;}
.ORGList{margin-top: 50px; margin-left: 30px; width: 32%;}
.ORGList .GlobalButton .greyborder{padding-left: 15px;}
.OrganisationList{align-items: center; margin-bottom: 20px;}
.ORGList .GlobalButton{width: 30%; text-align: right;}
.ORGList .Heading2{width: 70%;}
/* ViewProfileDetails End */

/* FormAdd Start */
.AddInformation{margin-top: 30px;}
/* FormAdd Start */

/* Global Table List Start */
.TableSearchWrap{align-items: center;}
.TableSearchWrap .search-sort-container{width: 50%;}
.TableSearchWrap .GlobalButton {width: 50%; display: flex; justify-content: end; margin-top: -125px;}
/* Global Table List End */