*{ margin: 0; padding: 0;box-sizing: border-box;}
@font-face {
  font-family: "SourceSans";
  src: url("/src/assets/Font/SourceSansRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans";
  src: url("/src/assets/Font/SourceSansSemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

:root{
     --PrimaryColor: #82C9BE; 
     --SecondayColor: #369183;
     --TextcolorDark: #464255;
     --TextcolorGrey: #A5AEBF;
     --TextcolorLight: #ffff;
     --BorderColor: #b4b2bb;
     --GreenButtonHover: #DAEBE8;
     --GreenActiveColor: #D0E3D6;
     --ColorBlue: #3b82f6;
     --GreyBorders: #DEDEDE;
     --NeonGreen: #67A401;
 } 

body{ font-family: "SourceSans", sans-serif; }
/* Global CSS Start */
.d-flex{display: flex;}
/* Global CSS End */
