*{ margin: 0; padding: 0;box-sizing: border-box;}
@font-face {
    font-family: "SourceSansRegular";
    src: url("/src/assets/Font/SourceSansRegular.woff2") format("woff2");
}
:root{
     --PrimaryColor: #83DBD7; 
     --SecondayColor: #369183;
     --TextcolorDark: #464255
    } 

body{ font-family: SourceSansRegular;}















